{% extends "temp_auth.html" %}
{% block title %} Reset Password {% endblock %}

{% block content %}
    <h2 class="h5 fw-semibold text-muted text-uppercase mb-4">RESET PASSWORD</h2>
    <p class="text-muted small mb-4">
        Masukkan alamat email Anda yang terdaftar. Kami akan mengirimkan link untuk mengatur ulang password Anda.
    </p>

    <form method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}<p>{{ error|escape }}</p>{% endfor %}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label-custom">Email:</label>
            <input type="email" id="{{ form.email.id_for_label }}" name="email" 
                    class="form-control rounded-pill p-3 {% if form.email.errors %}is-invalid{% endif %}"
                    placeholder="Email" required>
            {% if form.email.errors %}
            <div class="invalid-feedback">
                {{ form.email.errors.as_text }}
            </div>
            {% endif %}
        </div>
        
        <div class="d-grid">
            <button type="submit" 
                    class="btn btn-primary btn-lg rounded-pill p-3 text-uppercase fw-medium">
                KIRIM LINK
            </button>
        </div>
        
        <div class="text-center pt-4 mt-2">
            <p class="text-muted small">
                Ingat password Anda? <a href="{% url 'login' %}" class="fw-medium text-decoration-none link-primary">Log In</a>
            </p>
        </div>
    </form>
{% endblock %}